<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConsumerKey</key>
	<string>FtecbLHADAuMc1LeIVM_5Q</string>
	<key>ConsumerSecret</key>
	<string>L48wA1c3Pwff8CWhLkDd9otKTcQ</string>
	<key>Token</key>
	<string>rr8H7lkCHYMEHt2mbB7aWmQyXaXyuiNC</string>
	<key>TokenSecret</key>
	<string>LMru_smWv247_8sy1xWQmkCcnew</string>
	<key>YWSID</key>
	<string>_VBr5aT0Wil1PBQmnGbxFw</string>
</dict>
</plist>
